<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Failure of Purchase</title>

    <style>
        .link-to-mainscreen {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<div class="success-container">
    <h2>Your purchase could not be completed.</h2>
    <h3>We apologize for this inconvenience. Please contact us at (999) 999-9999
        or viscardiautoshop@gmail.com to get help with your purchase.</h3>

    <div class="link-to-mainscreen">
        <a href="http://localhost:8080/">Link
            to Main Screen</a>
    </div>
</div>

</body>
</html>