<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .link-to-mainscreen {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<div class="success-container">
    <h2>Your purchase was successful!</h2>
    <h3>Thank you for shopping at Viscardi's Auto Shop!</h3>

    <div class="link-to-mainscreen">
        <a href="http://localhost:8080/">Link
            to Main Screen</a>
    </div>
</div>

</body>
</html>